<div class="row">
    <div class="card col-md-3">
        <div class="card-header">
            Crear Rol
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input 
                        type="text" 
                        class="form-control"
                        placeholder="Administrador"
                        aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Defina Rol</small>
                    
                   
                </div>
    
                <footer>
                    <button class="btn btn-block btn-success">Guardar</button>
                </footer>
            </blockquote>
        </div>
    </div>
 
    <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Lista</th>                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Ejemplo</th>
                <td>Cargo</td>
                <td>Rol</td>
                <td>Ventas 0 </td>
                <td>Activo</td>
              </tr>              
            </tbody>
        </table>
    </div>
 </div>
 
 <br>
 <br><br>
 <br>
 
 